body {
	box-sizing: border-box;
	min-width: 320px;
	font-family: 'Roboto', sans-serif;
}

.header a {
	margin-right: 5px;
	text-decoration: none;
	color: var(--bs-purple);
	transition: all 0.3s;
}

a:hover {
	color: var(--bs-blue);
}

.col {
	padding: 0;
}

.row {
	margin: 0;
	align-items: center;
}

.btn {
	transition: all 0.3s;
	color: var(--bs-purple);
}

.btn:hover {
	color: var(--bs-blue);
}

.btn-close:focus {
	box-shadow: none;
}

.btn-close-hidden {
	display: none;
}

.header {
	background-color: #f3f1f6;
	position: sticky;
	top: 0px;
	z-index: 2;
	justify-content: first baseline;
}

.header_logo_h1 {
	font-family: 'Poiret One', sans-serif;
	font-weight: 900;
	font-size: 32px;
	margin: 0;
}

.header_logo_h2 {
	font-family: 'Poiret One', sans-serif;
	font-weight: 900;
	font-size: 14px;
	text-align: center;
	margin: 0;
}

.header-contact {
	display: flex;
	flex-direction: row;
}

li {
	height: auto;
}

ul.contact_icons {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	height: 28px;
}

.group {
	display: flex;
	justify-content: end;
}

.input-search {
	transition: all 0.3s;
	border: none;
	background-color: #f3f1f6;
	padding: 0;
}

.input-search::placeholder {
	font-size: 10px;
	color: var(--bs-purple);
}

.input-search:focus {
	box-shadow: none;
	background-color: #f3f1f6;
}

.button-remove-search {
	margin-right: 15px;
}

.badge {
	font-size: 0.4rem;
}

.main {
	margin-top: 10px;
	padding-bottom: 15px;
}

.tabl {
	font-family: 'Poiret One', sans-serif;
	z-index: 1;
	background-color: rgba(0, 255, 13, 0.7);
	border-radius: 7px;
	font-weight: 400;
	font-size: 18px;
	margin: 0;
	color: var(--bs-purple);
	padding-right: 5px;
	padding-left: 5px;
	border: none
}

.availability {
	position: absolute;
	right: 30px;
	top: 20px;
}

.discount-proc {
	display: none;
	position: absolute;
	left: 30px;
	top: 20px;
}

.btn-order {
	background-color: rgb(204, 204, 204);
}

.name,
.about,
.description,
.discount {
	margin: 0;
	padding: 0;
	font-family: 'Poiret One', sans-serif;
	font-size: 12px;
}

.name{
	font-weight:bold
}

.price {
	margin: 0;
	margin-left: 5px;
	font-family: 'Poiret One', sans-serif;
	font-size: 12px;
	color: rgb(0, 0, 0);
}

.price-text {
	margin: 0;
	font-family: 'Poiret One', sans-serif;
	font-size: 12px;
	margin-top: auto;
	margin-bottom: auto;
}

.price-discount {
	text-decoration: line-through;
	color: rgb(136, 136, 136);
}

.discount {
	display: none;
	margin-left: 5px;
}

.carousel {
	margin-left: auto;
	margin-right: auto;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	background-color: var(--bs-purple);
}

.carousel-indicators a {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 30px;
	height: 5px;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: var(--bs-purple);
	background-clip: padding-box;
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 0.5;
	transition: opacity 0.6s ease;
}

.cardModal {
	margin-left: auto;
	margin-right: auto;
}

.zoomImg {
	max-width: 450px;
}

.main-smart {
	opacity: 0;
	visibility: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url(../../img/backgr.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	transition: all 0.5s linear;
}

.main-smart-button {
	border: none;
	font-size: 25px;
	margin-top: 5px;
}

.main-smart-button:hover {
	opacity: 0.5;
	transition: opacity 0.3s;
}

@media screen and (width < 501px) {
	.main-smart-visib {
		visibility: visible;
		opacity: 1;
	}

	.header_logo_h1 {
		font-size: 26px;
	}

	.header_logo_h2 {
		font-size: 12px;
	}

	.carousel-item div {
		height: 400px;
	}

	.carousel-control-next,
	.carousel-control-prev {
		max-height: 400px;
	}

	.video-slide {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.video {
		height: 400px;
	}

	.modal-content button {
		position: absolute;
		margin-left: 90%;
		margin-top: 5%;
	}

	.card {
		border: none;
		border-radius: 0;
		background-color: #f3f1f6;
		max-width: 400px;
		width: 100%;
	}

	.carousel-item img {
		object-fit: contain;
		border-radius: 0;
		height: 400px;
		width: 100%;
	}
}

@media screen and (width > 500px) {
	.carousel-item div {
		height: 550px;
		width: 430px;
	}

	.carousel-control-next,
	.carousel-control-prev {
		max-height: 550px;
	}

	.modal-content button {
		position: absolute;
		margin-left: 85%;
		margin-top: 5%;
	}
	.card {
		border: none;
		border-radius: 0;
		background-color: #f3f1f6;
		max-width: 430px;
		width: 430px;
	}

	.video {
		height: 550px;
		width: 430px;
	}

	.carousel-item img {
		object-fit: contain;
		border-radius: 0;
		height: 550px;
		width: 430px;
	}
}
